:root {
    /* Primary */
    --blue100: hsl(225, 100%, 94%);
    --blue700: hsl(245, 75%, 52%);

    /* Neutral */
    --blue50: hsl(225, 100%, 98%);
    --gray600: hsl(224, 23%, 55%);
    --blue950: hsl(223, 47%, 23%);

    --white: hsl(0, 0%, 100%);
    --black: hsl(0, 0%, 0%);
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Red Hat Display", sans-serif;
}

body {
    display: grid;
    place-items: center;
    min-height: 100vh;
    padding: 50px 0;
    background-image: url("images/pattern-background-desktop.svg");
    background-size: 100% 50%;
    background-repeat: no-repeat;
    background-color: var(--blue100);
}

main {
    width: 450px;
    background-color: var(--white);
    border-radius: 20px;

    & > img {
        width: 100%;
        border-radius: 20px 20px 0 0;
    }

    & > .order {
        padding: 40px 50px;
        text-align: center;
        display: grid;
        gap: 25px;

        & p {
            color: var(--gray600);
        }

        & > .plan {
            background-color: var(--blue50);
            border-radius: 8px;
            padding: 15px;
            position: relative;
            display: flex;
            align-items: center;

            & > img {
                margin-right: 20px;
            }

            & > :last-child {
                position: absolute;
                right: 15px;
                color: var(--blue700);

                :hover {
                    cursor: pointer;
                    text-decoration: none;
                }
            }
        }

        & > button {
            border: none;
            outline: none;
            border-radius: 10px;
            font-size: 16px;
            color: var(--white);
            padding: 20px 0;
            background-color: var(--blue700);

            &:hover {
                cursor: pointer;
                opacity: 80%;
            }
        }

        & > :last-child {
            margin-bottom: 30px;
        }

        & > :last-child:hover {
            color: var(--black);
            cursor: pointer;
        }
    }
}

@media screen and (max-width: 480px) {
    body {
        background-image: url("images/pattern-background-mobile.svg");
    }

    main {
        width: 93%;
        border-radius: 15px;

        & > img {
            border-radius: 15px 15px 0 0;
        }

        & > .order {
            padding: 20px 20px;
            gap: 25px;

            & > h1 {
                font-size: 25px;
            }

            & > p {
                width: 260px;
                justify-self: center;
            }

            & > .plan {
                & p {
                    font-size: 14px;
                }
            }
        }
    }
}
